[submodule "Chestnut/packages/spdlog"]
	path = Chestnut/packages/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chestnut/packages/GLFW"]
	path = Chestnut/packages/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Chestnut/packages/glm"]
	path = Chestnut/packages/glm
	url = https://github.com/g-truc/glm