[submodule "Chestnut/packages/spdlog"]
	path = Chestnut/packages/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chestnut/packages/glm"]
	path = Chestnut/packages/glm
	url = https://github.com/g-truc/glm
[submodule "Chestnut/packages/imgui"]
	path = Chestnut/packages/imgui
	url = https://github.com/oliverjakobs/imgui
[submodule "Chestnut/packages/glfw"]
	path = Chestnut/packages/glfw
	url = https://github.com/oliverjakobs/glfw
